
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #fff;
    background-color: rgb(221, 237, 238);
    font-family: 'Dela Gothic One', cursive;

}

.row {
    width: 100%;
    margin-left: 0.5%;
}

#header-nav {
    background-color: darkolivegreen;
    border-radius: 0;
    border: 0;
}


.navbar-brand h1 {
    color: #000000;
    font-size: 2vw;
    margin-top: 0.1vw;
    text-transform: uppercase;
    font-family: 'Dela Gothic One', cursive;

}

.navbar-default .navbar-nav>li>a  {

    color: rgb(0, 17, 248);
}

.menu h1 {
    color: #000000;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


.chiken-text {
    background-color: beige;
    color: #000000;
    text-align: left;
    font-size: 15px;
    margin: 0;
    padding: 0px 1% 1% 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.chiken-text h3 {
    padding-top: 10px;
    color: #000000;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
/*** Medium devices ***/
@media (min-width: 1200px) {
    .collapse {
        float: right;
        font-size: 1.2vw;
        
    }
}

/*** Medium devices ***/
@media (min-width: 768px) {
    .collapse {
        float: right;
        
    }
}


/*** Extra small devices ***/
@media (max-width: 767px) {
    .collapse {
        text-align: center;
        
    }

    .nav {
        background-color: rgb(253, 248, 180);
    }

    .row-text {
        margin: 10%;
    }
}

/*** Extra small devices ***/
@media (max-width: 200px) {
    .navbar-brand h1 {
        visibility: hidden;
    }

}

